.banner-container {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 250px;
    width: auto;
    border-radius: 50%;
  }

  .background-text {
    font-size: 100px;
    color: #ff0000;
    text-shadow: 1px 1px 1px rgb(141, 0, 0), 2px 2px 1px rgb(141, 0, 0);
  }
}

@media only screen and (max-width: 750px) {
  .banner-container {
    flex-direction: column;

    img {
      height: 100px;
    }

    .background-text {
      text-align: center;
      font-size: 50px;
    }
  }
}
