.header-container {
  background-color: #ff6f00;
  padding: 40px 30px;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 250px;
    width: auto;
    border-radius: 50%;
  }

  .background-text {
    font-size: 100px;
    color: #ff0000;
    text-shadow: 1px 1px 1px rgb(141, 0, 0), 2px 2px 1px rgb(141, 0, 0);
  }
}
