.header-container {
  padding: 10px 30px;
  position: sticky;
  top: 0;
  background-color: whitesmoke;

  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 20px;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 5px 8px;
      transition: all 0.4s;

      &.active {
        border-color: red;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .header-container {
    .menu {
      justify-content: center;
      padding: 0;
      margin: 0;

      li {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}
