.gallery-container {
  padding: 20px 50px;

  h1 {
    color: #ff6f00;
  }

  .slides {
    display: flex;
    flex-wrap: wrap;

    img {
      height: 250px;
      width: auto;
      margin: 8px;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .gallery-container {
    padding: 10px 30px;

    .slides {
      flex-wrap: wrap;

      img {
        height: 180px;
        width: auto;
        margin: 4px;
        border: 1px solid gray;
        border-radius: 4px;
      }
    }
  }
}
