.gallery-container {
  display: flex;
  justify-content: center;

  .left-panel,
  .right-panel {
    flex: 0.05;
    width: 20px;
    box-shadow: -5px 0 10px 3px #ff6f00;
    z-index: 2;
  }

  .left-panel {
    box-shadow: 5px 0 10px 3px #ff6f00;
  }

  .slide {
    height: 350px;
    overflow: auto;
    display: flex;
    flex: 0.9;
    z-index: 1;

    img {
      flex: 1;
      height: 100%;
      width: auto;
      border: 1px solid red;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery-container {
    .slide {
      height: 250px;
    }
  }
}
